@charset "UTF-8";

*{
    font-family: Arial , Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #614861, #E036E0);
}

main {
    background-color: white;
    border-radius: 10px;

    box-shadow: 5px 5px 15px #25271dd2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #36E040;
    text-align: center;
    text-shadow: 1px 1px 2px #18611dc5;
}

h2 {
    color: #B9E036;
}

p {
    text-align: justify;
}